out/production/MultiThreadedServerAndChatRoom/client/Client.class
*.class
out/production/MultiThreadedServerAndChatRoom/client/Client.class
*.class
.idea/workspace.xml___jb_tmp___
out/production/MultiThreadedServerAndChatRoom/server/files/registered.txt